.ruta-card {
    position: relative;
    overflow: hidden;
    border-radius: 10px;
    cursor: pointer;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    height: 220px;
  }
  
  .ruta-imagen {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    transition: transform 0.3s;
  }
  
  .ruta-card:hover .ruta-imagen {
    transform: scale(1.05);
  }
  
  .ruta-overlay {
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 12px;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.65), transparent);
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
  }
  
  .eliminar-btn {
    font-size: 0.75rem;
  }
  
  .fecha-texto {
    font-size: 0.75rem;
    opacity: 0.8;
  }

  .ruta-overlay h6 {
    word-wrap: break-word;  /* Permite el ajuste de palabra */
    white-space: normal;    /* Permite saltos de línea automáticos */
    word-break: break-word; /* Rompe la palabra si es necesario */
    margin-bottom: 0;       /* Elimina el margen inferior si es necesario */
    font-size: 1rem;        /* Puedes ajustar el tamaño de la fuente */
    line-height: 1.3;       /* Aumenta el espacio entre líneas si es necesario */
  }
